* { 
  box-sizing: border-box;
  margin:0;
  padding: 0

}
/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
  color:white
}

body{
  background-color:white;
  color:white;
  font-size: 21px;
  font-family: 'Oswald', sans-serif;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23094184' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
}

hr{
  margin:10px 0; 
}

.btn{
  cursor:pointer;
  display:inline-block;
  border:0;
  font-weight: bold;
  padding:1px 20px;
  background:#262626;
  color:white;
  font-size:15px;
  border: 1px solid white;
  margin:10px 0; 

}
.btn:hover{
  opacity:.6
}
.showcase h2,.showcase p {
  margin-bottom: 10px;
}

ul{list-style: none;}
.container{
  width:90%;
  
  margin:auto}

/*Navigation*/

.nav-main { 
 font: size 17px;
 display:flex;
 justify-content: space-between;
 align-items:center;
 height: 160px;
 padding: 20px 10;
 padding-bottom: 20px;

}

.nav-brand { 
  width: 150px;
  height:120px;
  
}



.nav-main ul {
display:flex
}
.nav-main ul li {
  padding: 20px
}

.nav-main ul li a {
  padding: 6px
}

.nav-main ul li a:hover {
  border-bottom: 2px solid white ;
}
.nav-main ul.nav-menu{
  flex:1;
  margin-left: 20px;
}
a {
  color:white;
  text-decoration:none
}
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
  }
  
  .gallery img {
    width: calc(33.33% - 10px);
    
    margin-bottom: 26px;
  }
  .menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    height: 54px;
    padding: 10px 20px;
  }
  
  
  
  
  /*Navigation*/
  
  .nav-main { 
    font: size 17px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 160px;
    padding: 20px 10;
    padding-bottom: 20px;
  
  }
  
  .nav-brand { 
    margin-left: 100px;
     width: 200px;
     height:120px;
     
  }
  
  
  
  .nav-main ul {
   display:flex
  }
  .nav-main ul li {
     padding: 20px
  }
  
  .nav-main ul li a {
     padding: 6px
  }
  
  .nav-main ul li a:hover {
     border-bottom: 2px solid white ;
  }
  .nav-main ul.nav-menu{
     flex:1;
     margin-left: 20px;
  }
  a {
    color:white;
    text-decoration:none
  }
  .main-content img {
    margin-bottom: 20px;
    max-width: 30%;
    object-fit: cover;
  }
  .footer {
    background: #efeff0;
    color: #0838bd;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
  }

  /* Mobil */
  @media (max-width: 700px) {

    .gallery img{
      width: 100%;
    }
    .menu-btn {
      display: block;
    }
  
    .menu-btn:hover {
      opacity: 0.5;
    }
  
    .nav-main ul.nav-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #0004f5;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
    }
  
    .nav-main ul.nav-menu li {
      padding: 20px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
    .nav-main ul.nav-menu li:last-child {
      border-bottom: 0;
    }
  
    .nav-main ul.nav-menu.show {
      transform: translateX(-20px);
    }
  
    .nav-main ul.nav-menu-right {
      margin-right: 50px;
    }
  
    .news-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 80%;
    }
  
    .footer-links .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .gallery img{
      width: 100%;
    }
    .news-cards {
      grid-template-columns: 1fr;
    }
  
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 100%;
      padding: 60px 20px;
    }
    .footer-links .footer-container {
      grid-template-columns: 1fr;
    }
  
    .footer-links .footer-container ul {
      text-align: center;
    }
  }